#btn_container {
  display: flex;
  justify-content: center;
  gap: 32px;
}
#btn_yes {
  background-color: $vGreen;
}
#btn_no {
  background-color: $vRed;
}
.btn {
  width: 200px;
  height: auto;
  padding: 8px 16px;
  color: $white;
  border-radius: $radius2;
  box-shadow: $darkShadow;
  cursor: pointer;
}
